# Dependency directory
# https://www.npmjs.org/doc/misc/npm-faq.html#should-i-check-my-node_modules-folder-into-git
node_modules
.babelrc
.gitignore
yarn.lock
package.lock
.prettierignore
.prettierrc
favicon.ico
.html
.gif
src/
