h1,
h2 {
  color: rgb(102, 51, 153);
}

body {
  margin: auto;
  font-size: 1.2rem;
  padding: 1rem 2rem;
  position: relative;
}

@media (min-width: 600px) {
  body {
    width: 50%;
    padding: 1rem 0;
  }
}

#indicator {
  position: fixed;
  height: 3px;
  background-color: rgb(102, 51, 153);
  top: 0;
  left: 0;
}
